body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff; 
  color: #000000; 
  overflow-y: scroll;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: #000000;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #000000;
  height: 8vh;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: flex-start; 
  padding-left: 20px;
  width: 100%; 
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  cursor: pointer;
  display: none; /* Initially hidden */
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 999px) {
  body {
      overflow-x: hidden;
  }
  .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: #000000;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
  }
  .nav-list li {
      margin-left: 0;
      opacity: 0;
  }
  .mobile-menu {
      display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
      opacity: 0;
      transform: translateX(50px);
  }
  to {
      opacity: 1;
      transform: translateX(0);
  }
}

.nav-list.active li {
  animation: navLinkFade 0.5s ease forwards;
}

.nav-list li {
  margin-left: 0;
  opacity: 0;
}
.mobile-menu.active {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

header {
  background-color: #000000; 
  color: #ffc211; 
  padding: 15px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container main{
  flex: 1;
  background-color: #2895d1;
  border: 0;
}

.logo img {
  max-width: 150px; 
  margin-bottom: 10px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: #2895d1; 
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
  text-align: center;
}

.contact-icon {
  max-width: 30px;
  height: 30px; 
  margin-right: 0 10px;
}

button {
  background-color: #2895d1; 
  color: #ffc211;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #2895d1;
}

.activity {
  margin-bottom: 20px;
}

.last-image {
  margin-bottom: 2000px; 
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
}

nav ul li a {
  display: inline-block;
  padding: 10px 20px; 
  margin-right: 10px; 
  text-decoration: none; 
  color: #000000; 
  background-color: white; 
  border: 1px solid #ffc211; 
  border-radius: 5px; 
}

nav ul li a:hover {
  background-color: #ffc211; 
  color: white; 
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #57a3cc;
  color: white;
  padding: 10px;
  text-align: left;
  flex-wrap: wrap;
}

footer p {
  display: block;
  margin-bottom: 10px;
  width: 100%; 
}

.photo-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
  margin-top: 20px;
}

.photo-gallery a {
  margin-bottom: 20px;
  display: block; 
}

.photo-gallery img {
  max-width: 100%; 
  height: 300px;
  object-fit: cover;
}

.photo-gallery img:hover {
  opacity: 0.7;
  transition: opacity 0.3s;
}

.logo img:hover {
  opacity: 0.7;
  transition: opacity 0.3s;
  cursor: pointer;
}

.equipe {
  padding: 20px;
  text-align: center;
}

.team-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.team-member {
  flex: 1 1 calc(25% - 20px);
  margin-bottom: 20px;
}

.team-member img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}

.team-card {
  background: #f0f0f0;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.separator {
  width: 80%;
  height: 2px;
  background-color: yellow;
  margin: 40px auto; 
}

.probatório-title {
  text-align: center;
  margin-top: 0;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  gap: 20px;
}

.card {
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  overflow: hidden;
  text-align: center;
  width: calc(25% - 20px);
  max-width: 300px;
  margin: 10px;
}

.card h3 {
  margin: 20px 0;
  font-size: 1.2em;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.contact-card {
  background-color: #3b7594f5;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin-left: auto;
  margin-top: 10px;
}

.contact-card ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.contact-card ul li {
  margin: 0 10px;
}

.contact-card ul li:last-child {
  margin-right: 0;
}

.contact-card h3 {
  margin-top: 0;
}
